backend:
  name: github
  repo: makinacorpus/ortho44-2018

media_folder: static/img
public_folder: /img

slug:
  encoding: "ascii"
  clean_accents: true

collections:

  - name: "poi"
    label: "Points d'intérêt"
    folder: "/src/pages/poi"
    create: true
    slug: "{{slug}}"
    editor:
      preview: false
    fields:
      - {label: "Template Key", name: "templateKey", widget: "hidden", default: "poi"}
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Description", name: "description", widget: "text", required: false}
      - {label: "Latitude", name: "lat", widget: "number", valueType: "float", min: -90, max: 90, required: false}
      - {label: "Longitude", name: "lng", widget: "number", valueType: "float", min: -180, max: 360, required: false}
      - {label: "Image principale", name: "picture", widget: "image", required: false}
      - {label: "Iframe", name: "iframe", widget: "text", required: false}
      - {label: "Carousel", name: "promote", widget: "boolean", default: false}
      - {label: "Lien (En savoir plus…)", name: "link", widget: "string", required: false}

      - label: "Type de marker"
        name: "marker_type"
        widget: "select"
        required: false
        options:
          - { label: "Par défaut", value: "default"}
          - { label: "Noir", value: "black"}
          - { label: "Bleu", value: "blue"}
          - { label: "Vert", value: "green"}
          - { label: "Gris", value: "grey"}
          - { label: "Orange", value: "orange"}
          - { label: "Rouge", value: "red"}
          - { label: "Violet", value: "violet"}
          - { label: "Jaune", value: "yellow"}
      - label: "Type de media"
        name: "media_type"
        widget: "select"
        required: false
        options:
          - { label: "Photo", value: "photo"}
          - { label: "Galerie photo", value: "photos"}
          - { label: "Vidéo", value: "video"}
          - { label: "Drone", value: "drone"}
          - { label: "360°", value: "360"}

  - name: "pages"
    label: "Textes modifiables"
    editor:
      preview: false
    files:
      - label: "Entête carousel"
        name: "carousel"
        file: "/src/pages/carousel/index.md"
        fields:
          - {label: "Template Key", name: "templateKey", widget: "hidden", default: "default-page"}
          - {label: "id", name: "id", widget: "hidden", default: "carousel"}
          - {label: "Title", name: "title", widget: "hidden", default: "Introduction du carousel"}
          - {label: "Description", name: "body", widget: "markdown", required: true}

      - label: "Export d'image"
        name: "exporter-l-image"
        file: "/src/pages/exporter-l-image/index.md"
        fields:
          - {label: "Template Key", name: "templateKey", widget: "hidden", default: "default-page"}
          - {label: "id", name: "id", widget: "hidden", default: "picture-export"}
          - {label: "Title", name: "title", widget: "hidden", default: "Texte de la fenêtre d'export d'image"}
          - {label: "Description", name: "body", widget: "markdown", required: true}
