@import "../layouts/scss/variables";

.c-footer {
  padding: 0.8rem 0 0;
  background: #eaeaea;
  overflow: hidden;
  &__content {
    text-align: center;
  }
  &__menu-list  {
    margin-bottom: 2rem;
    line-height: 2rem;
  }
  &__menu-link  {
    font-size: 1rem;
    font-weight: bold;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
  &__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
  &__socials-label {
    display: none;
    font-size: 1.5rem;
    font-weight: bold;
  }
  &__social-list {
    display: flex;
  }
  &__social-item {
    margin-left: 2rem;
    .u-icon {
      font-size: 2.5rem;
    }
  }
  &__footnote {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  &__footnote-label {
    display: none;
    font-size: 1.5rem;
  }
  &__footnote-img {
    margin-left: 3rem;
    width: 103px;
  }
}

@media (min-width: $medium) {
  .c-footer {
    &__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
    &__menu-list {
      display: flex;
      justify-content: center;
    }
    &__menu-item  {
      padding: 0 1rem;
      border-left: 1px solid #b1b1b1;
      &:first-child {
        padding-left: 0;
        border: 0;
      }
    }
  }
}

@media (min-width: $large) {
  .c-footer {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 6rem;
      left: 0;
      width: calc(100vw - 14.7rem);
      border-bottom: 0.6rem solid #d1d1d1;
    }
    &__menu-link  {
      font-size: 1.15rem;
    }
    &__footnote-label {
      display: block;
    }
    &__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
  }
}

@media (min-width: $Xlarge) {
  .c-footer {
    &__menu-item  {
      padding: 0 1.4rem;
    }
    &__socials-label {
      display: block;
    }
  }
}