@import "../layouts/scss/variables";

.c-header {
  &__top-nav {
    background: #eaeaea;
    height: 1.8rem;
    box-shadow: 0 3px 2px #d1d1d1;
  }
  &__top-nav-link {
    display: inline-block;
    color: #fff;
    background: #000;
    font-size: 1.7rem;
    padding: 0.1rem 1.8rem;
  }
  &__banner {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  &__action-list {
    display: flex;
    align-items: center; 
    padding-top: 3rem;
  }
  &__action-item + &__action-item {
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 1px dotted #808080;
  }
  &__action-button {
    display: inline-flex;
    align-items: center;
  }
  &__action-button-label {
    margin-right: 1rem;
  }
}
.c-logo {
  display: block;
  max-width: 50rem;
  margin-right: 2rem;
  &__img {
    display: block;
    width: 490px;
    height: 41px;
  }
}

@media (min-width: $medium) {
  .c-header {
    &__banner {
      display: flex;
      align-items: center;
    }
    &__logo {
      flex: 1 1 auto;
    }
    &__action-list { 
      padding-top: 0;
    }
  }
}