@import "../layouts/scss/variables";

.header {
  padding: 1rem 0;

  &Inner {
    max-width: $maxWidth;
    margin: 0 auto;
  }
}

.logoLink {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
}

.logo {
  max-height: 63px;
  display: block;
}
