@import "../layouts/scss/variables";

.c-map-actions {
  padding: 0.6rem;
  color: $color-brand;
  background: #000;
  &__item {
    position: relative;
    padding: 0.6rem;
    & + & {
      border-top: 1px dotted #fff;
    }
  }
  &__button {
    display: block;
    font-size: 2.5rem;
  }
  &__sub {
    display: none;
    padding: 0.6rem;
    position: absolute;
    top: 0;
    left: -0.6rem;
    color: #fff;
    background: #000;
    &.is-expanded {
      display: block;
    }
  }
  &__sub-item {
    display: flex;
    padding: 0.6rem;
  }
  &__sub-label {
    font-size: 1.2rem;
    margin-left: 1rem;
    white-space: nowrap;
  }
}