.c-synced-maps {
  position: relative;
  display: flex;
  height: 82.5rem;
  z-index: 0;
  > * {
    flex: 1 1 auto;
    z-index: 1;
  }
  &:hover {
    .sleep-note {
      opacity: 0 !important;
    }
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 4rem;
    right: 0;
    bottom: 0;
    width: 10%;
    background-color: rgba(#fff, .01);
    z-index: 2;
  }
}
