.c-synced-maps {
  position: relative;
  display: flex;
  height: 600px;
  z-index: 0;
  > * {
    flex: 1 1 auto;
    z-index: 1;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 10%;
    background-color: rgba(#fff, .05);
    z-index: 2;
  }
}
