@import "./variables";

// Markdown
.t-md {
  margin: 3rem 2rem 5rem;
  h3 {
    margin-top: 3rem;
  }
  p {
    margin-top: 1.5rem;
  }
  a {
    color: $color-primary;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}