// Classes utilitaires

.u-site {
  &__content {
    min-width: 30rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  &__page {
    max-width: 75rem;
    margin: auto;
  }
  &__title {
    font-family: "Winterthur";
    font-size: 3rem;
    margin: 3rem 2rem 0;
  }
  &__excerpt {
    margin: 3rem 2rem 0;
  }
}

.u-icon {
  fill: currentColor;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  overflow: hidden;
}

.u-visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  top: 0;
}