// Breakpoints
$small       : 24em;
$medium      : 48em;
$large       : 64em;
$Xlarge      : 82em;

// Font families
$font-family-base : "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$font-family-heading : "WinterthurCondensed", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

// Colors
$color-base     : #000;
$color-brand    : #afc724;